<a href="https://colab.research.google.com/github/higgsboson1209/songswelove/blob/master/giveingmeaningtothedata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
path = "/content/drive/My Drive/datasentiment.csv"
df = pd.read_csv(path)

FileNotFoundError: [Errno 2] File /content/drive/My Drive/datasentiment.csv does not exist: '/content/drive/My Drive/datasentiment.csv'

In [ ]:
import numpy as np 
print(df.head())

In [ ]:
df2 = pd.DataFrame(df['ratings'].str.split(",").values.tolist())

In [ ]:
df2.columns=["Negative","Neutral","Positive","Compound"]

In [ ]:
df2

     Negative Neutral Positive   Compound
0      [0.042   0.848     0.11    0.9722]
1      [0.101   0.613    0.287    0.9972]
2      [0.004    0.92    0.076    0.9897]
3      [0.191   0.742    0.067   -0.9899]
4      [0.164   0.742    0.094   -0.9492]
...       ...     ...      ...        ...
4591   [0.116    0.82    0.064   -0.9958]
4592     Null    None     None       None
4593   [0.041   0.792    0.167    0.9905]
4594   [0.056    0.88    0.064   -0.1027]
4595   [0.191   0.657    0.152   -0.9874]

[4596 rows x 4 columns]

In [ ]:
try:  
  df2['Negative'] = df2['Negative'].map(lambda x: x.lstrip('[').rstrip('aAbBcC')).astype(float)
  df2['Compound'] = df2['Compound'].str.replace(r'\D', '').astype(float)
except:
  None

In [ ]:
 try:
  df2['Neutral']=df2['Neutral'].astype(float)
  df2['Positive']=df2['Positive'].astype(float)
  df2['Compound']=df2['Compound'].astype(float)
  df2['Negative']=df2['Negative'].astype(float)
except:
  None

pandas.core.frame.DataFrame

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4596 entries, 0 to 4595
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Negative  4596 non-null   object
 1   Neutral   4474 non-null   float64
 2   Positive  4474 non-null   float64
 3   Compound  4474 non-null   float64
dtypes: float64(3), object(1)
memory usage: 143.8+ KB

In [ ]:
df.head()

   Unnamed: 0  ...                         ratings
0           0  ...    [0.042, 0.848, 0.11, 0.9722]
1           1  ...   [0.101, 0.613, 0.287, 0.9972]
2           2  ...    [0.004, 0.92, 0.076, 0.9897]
3           3  ...  [0.191, 0.742, 0.067, -0.9899]
4           4  ...  [0.164, 0.742, 0.094, -0.9492]

[5 rows x 5 columns]

In [ ]:
df.drop(["Lyrics","ratings"],axis=1,inplace=True)

KeyError: ignored

In [ ]:
finaldf = pd.concat([df,df2], axis=1)

In [ ]:
finaldf.head()

   Unnamed: 0              Song  ... Positive Compound
0           0          Firework  ...    0.110   9722.0
1           1           Grenade  ...    0.287   9972.0
2           2   What's My Name?  ...    0.076   9897.0
3           3  Raise Your Glass  ...    0.067   9899.0
4           4     We R Who We R  ...    0.094   9492.0

[5 rows x 7 columns]

In [ ]:
from sklearn.preprocessing import normalize
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
finaldf = finaldf.dropna(how='any',axis=0)

In [ ]:
finaldf

      Unnamed: 0                        Song  ... Positive Compound
0              0                    Firework  ...    0.110   9722.0
1              1                     Grenade  ...    0.287   9972.0
2              2             What's My Name?  ...    0.076   9897.0
3              3            Raise Your Glass  ...    0.067   9899.0
4              4               We R Who We R  ...    0.094   9492.0
...          ...                         ...  ...      ...      ...
4590        4590  It's Nice To Have A Friend  ...    0.335   9952.0
4591        4591                  Throw That  ...    0.064   9958.0
4593        4593                   Happy Now  ...    0.167   9905.0
4594        4594                 Younger Now  ...    0.064   1027.0
4595        4595         Its Every Night Sis  ...    0.152   9874.0

[4474 rows x 7 columns]

In [ ]:
finaldf["Compound"]=finaldf["Compound"]/10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
finaldf

      Unnamed: 0                        Song  ... Positive Compound
0              0                    Firework  ...    0.110   0.9722
1              1                     Grenade  ...    0.287   0.9972
2              2             What's My Name?  ...    0.076   0.9897
3              3            Raise Your Glass  ...    0.067   0.9899
4              4               We R Who We R  ...    0.094   0.9492
...          ...                         ...  ...      ...      ...
4590        4590  It's Nice To Have A Friend  ...    0.335   0.9952
4591        4591                  Throw That  ...    0.064   0.9958
4593        4593                   Happy Now  ...    0.167   0.9905
4594        4594                 Younger Now  ...    0.064   0.1027
4595        4595         Its Every Night Sis  ...    0.152   0.9874

[4474 rows x 7 columns]

In [ ]:
x = list(zip(finaldf.Negative.tolist(),finaldf.Neutral.tolist(),finaldf.Positive.tolist(),finaldf.Compound.tolist()))
y=finaldf.Song.tolist()

In [ ]:
niegh1 = KNeighborsClassifier(n_neighbors = 5, p = 1)
niegh1.fit(x,y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:755: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  estimator=estimator)
/usr/local/lib/python3.6/dist-packages/sklearn/neighbors/_base.py:400: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  X = check_array(X, accept_sparse='csr')

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=1,
                     weights='uniform')

In [ ]:
predict=niegh1.kneighbors([[0, 0.2, 0.8,0.9]])

In [ ]:
for x in np.nditer(predict[1]):
  print(y[x])

Girls Like You
Selah
Hallelujah
Hallelujah (Vancouver Winter 2010 Version)
Who You Love

In [ ]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
finaldf.to_csv('END.csv')
!cp END.csv "drive/My Drive/"